*{
    margin: center;
    padding: 0;
    box-sizing:content-box;
   


}   
   body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF5EE;
    color: #17100f

   }
   .hero {
    text-align: center;
    padding: 40px;


}   
   .fa-solid{
    color: #ff6f30;
   }
   
   .hero h1 {
    text-align: center;
    font-size: 2rem;

   }
   .hero p {
    margin-bottom: 20px;

   }

   .btn {
    background-color: #ff6f30;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 30px;
    border-color: white;
    transition: background-color 0.3s, transform 0.3s;
    padding: 15px 25px;


   }
   .btn:hover {
    background-color: #ff4d00;
    transform: scale(1.05);

   }

  

   .recipe-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 5px rgb(234, 241, 241);
    width : 90%;
    /* height: 600px; */
    margin: 0px 90px 30px 90px;
    border-radius: 15px;
    transition: all 0.3s;


    

   }
   .recipe-imag {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 40px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

   }
   .recipe-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
   }

   .recipe-info ul, .recipe-info ol {
    padding-left: 20px ;
   }
   .video-tutorial {
    margin-top: 15px;
   }

   footer{
    padding: 50px 20px 10px 20px;
    text-align: center;
   }

    .instructions-list{
        padding-right: 50px;
}
    .instructions-list li::marker{
    color:#ff4d00;
}
    .ingredients-list{
        padding-right: 30px;
    }
    .ingredients-list li::marker{
        color: #ff4d00;
    }

    .video-tutorial{
        padding:0px 50px 30px 10px;
    }
   @media  (max-width: 768px){
    .recipe-container {
        flex-direction:  column;
        align-items: center;
        margin: 5px 30px 5px 30px;
        height: 100%;
    }
    .recipe-imag{
        width: 100%;
        border-radius: 15px;
    }
    .recipe-info{
        width: 100%;
    }
   }
    
   



   