@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* main-color: #f77019 */
/* scondr-color: #ef4642 */
/* bg-color: #fef5ee */



/* This is general Css */
*{
    margin: center;
    padding: 0;
    box-sizing:content-box;
   
}   
body {
    font-family: "Poppins", sans-serif;
    background-color: #FFF5EE;
    color: #17100f
}




/* This is Hero section */
.hero {
    text-align: center;
    padding: 40px;


}   
.fa-solid{
    color: #ff6f30;
}
   
.hero h1 {
    text-align: center;
    font-size: 2rem;

}
.hero p {
    margin-bottom: 20px;

}

.btn {
    background-color: #ff6f30;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 30px;
    border-color: white;
    transition: background-color 0.3s, transform 0.3s;
    padding: 15px 25px;


}
.btn:hover {
    background-color: #ff4d00;
    transform: scale(1.05);

}



  
/* This is the display Recipe section */
#savedRecipes{
    padding: 20px;
}
#savedRecipes{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 5px rgb(234, 241, 241);
    width : 90%;
    margin: 0px 90px 30px 90px;
    border-radius: 15px;
    transition: all 0.3s;
}
.recipe-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 0 5px rgb(234, 241, 241);
    width : 90%;
    margin: 0px 90px 30px 90px;
    border-radius: 15px;
    transition: all 0.3s;
}
.recipe-imag {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 40px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;

}
#savedRecipes img{
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 40px;
    border-radius: 50px  ;
}
.recipe-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 20px;
   }
   .categoryAndAreaDiv{
    display: flex;
    padding-bottom: 10px;

}
.recipeArea{
    padding: 5px 15px;
    background-color: #ffd0b1;
    border-radius: 15px;
    color: #ff6600;
    font-size: .9rem;
    margin-right: 10px;
}
.recipeCategory{
    padding: 5px 15px;
    background-color: #ffcedc;
    border-radius: 15px;
    color: #ff006a;
    font-size: .9rem;
}

footer{
    padding: 50px 20px 10px 20px;
    text-align: center;
}

.instructions-list{
    padding-right: 50px;
    font-size: 12px;
}
.instructions-list li::marker{
    color:#ff4d00;
}
.ingredients-list{
    padding-right: 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 10px;
    font-size: 12px;
       
}

.ingredients-list li{
        margin-bottom: 8px ;
}
    .ingredients-list li::marker{
        color: #ff4d00;
}

.video-tutorial{
        padding:0px 50px 30px 10px;
        margin-top: 15px;
}
      /* this hidden must be removed because we
       need to show both login/reg form and also 
       recipe gernerator. */
.auth-container.hidden{
    display: none;
}
/* this hidden must be removed because we
       need to show both login/reg form and also 
       recipe gernerator. */
.recipe-Wrapper.hidden{
    display: none;
}
#savedRecipes img{
    padding-left: 20px;
    padding-right: 10px;
}
#savedRecipes h2{
    font-size: 1rem;
    padding: 20px;
}
.recipe-info h2 {
 margin-bottom: 10px;
 font-size: 2rem;

}
.recipe-info ul, .recipe-info ol {
 margin-bottom: 15px;
 padding-left: 20px ;
}




/* This is Login and Registration section */
*,
*::before,
*::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}




.auth-container {
width: 100%;
min-height: 100vh;
overflow: hidden;
background-color: #fef5ee;
padding: 2rem;
display: flex;
align-items: center;
justify-content: center;
}

.box {
position: relative;
width: 100%;
max-width: 1020px;
height: 640px;
background-color: #fff;
border-radius: 3.3rem;
box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
position: absolute;
width: calc(100% - 4.1rem);
height: calc(100% - 4.1rem);
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.forms-wrap {
position: absolute;
height: 100%;
width: 45%;
top: 0;
left: 0;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
transition: 0.8s ease-in-out;
}

form {
max-width: 260px;
width: 100%;
margin: 0 auto;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
grid-column: 1 / 2;
grid-row: 1 / 2;
transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
opacity: 0;
pointer-events: none;
}

.logo {
display: flex;
align-items: center;
justify-content: center;
width: 100%; 
height: 100px;
}

.logo img {
width: 52px;
margin-right: 0.3rem;
margin-bottom: .5rem;
}

.logo h4 {
font-size: 1.1rem;
margin-top: -9px;
letter-spacing: -0.5px;
color: #151111;
}

.heading h2 {
font-size: 2.1rem;
font-weight: 600;
color: #151111;
}

.heading h6 {
color: #bababa;
font-weight: 400;
font-size: 0.75rem;
display: inline;
}

.toggle {
color: #151111;
text-decoration: none;
font-size: 0.75rem;
font-weight: 500;
transition: 0.3s;
}

.toggle:hover {
color: #8371fd;
}

.input-wrap {
position: relative;
height: 37px;
margin-bottom: 2rem;
}

.input-field {
position: absolute;
width: 100%;
height: 100%;
background: none;
border: none;
outline: none;
border-bottom: 1px solid #bbb;
padding: 0;
font-size: 0.95rem;
color: #151111;
transition: 0.4s;
}

label {
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
font-size: 0.95rem;
color: #bbb;
pointer-events: none;
transition: 0.4s;
}

.input-field.active {
border-bottom-color: #151111;
}

.input-field.active + label {
font-size: 0.75rem;
top: -2px;
}

.sign-btn {
display: inline-block;
width: 100%;
height: 43px;
background: linear-gradient(45deg, #f77019, #ef4642);
color: #fff;
border: none;
cursor: pointer;
border-radius: 0.8rem;
font-size: 0.8rem;
margin-bottom: 2rem;
transition: 0.3s;
}

.sign-btn:hover {
background: linear-gradient(45deg, #ef4642, #f77019);
}

.text {
color: #bbb;
font-size: 0.7rem;
}

.text a {
color: #bbb;
transition: 0.3s;
}

.text a:hover {
color: #8371fd;
}

.auth-container.sign-up-mode form.sign-in-form {
opacity: 0;
pointer-events: none;
}

.auth-container.sign-up-mode form.sign-up-form {
opacity: 1;
pointer-events: all;
}

.auth-container.sign-up-mode .forms-wrap {
left: 55%;
}

.auth-container.sign-up-mode .carousel {
left: 0%;
}

.carousel {
position: absolute;
height: 100%;
width: 55%;
left: 45%;
top: 0;
background-color: #ffe0d2;
border-radius: 2rem;
display: grid;
grid-template-rows: auto 1fr;
padding-bottom: 2rem;
overflow: hidden;
transition: 0.8s ease-in-out;
}

.images-wrapper {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
}

.image {
width: 100%;
grid-column: 1/2;
grid-row: 1/2;
opacity: 0;
transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
transform: translate(0, -50px);
}

.img-2 {
transform: scale(0.4, 0.5);
}

.img-3 {
transform: scale(0.3) rotate(-20deg);
}

.image.show {
opacity: 1;
transform: none;
}

.text-slider {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.text-wrap {
max-height: 2.2rem;
overflow: hidden;
margin-bottom: 2.5rem;
}

.text-group {
display: flex;
flex-direction: column;
text-align: center;
transform: translateY(0);
transition: 0.5s;
}

.text-group h2 {
line-height: 2.2rem;
font-weight: 600;
font-size: 1.6rem;
}

.bullets {
display: flex;
align-items: center;
justify-content: center;
}

.bullets span {
display: block;
width: 0.5rem;
height: 0.5rem;
background-color: #aaa;
margin: 0 0.25rem;
border-radius: 50%;
cursor: pointer;
transition: 0.3s;
}

.bullets span.active {
width: 1.1rem;
background-color: #151111;
border-radius: 1rem;
}
.save-recipe-btn{
    width: 200px;
    height: 43px;
    background: linear-gradient(to right, #f77019, #ef4642);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    margin: 0 auto; 
    display: block; 
}
.view-SavedBtn {
    width: 200px;
    height: 43px;
    background: #2289ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
    margin: 10px auto; 
    display: block; 
}
.save-recipe-btn:hover {
    background: linear-gradient(to right, #ef4642, #f77019);
}


.team-member {
    border: 1px ;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.aboutBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.AboutUsButton {
    
    text-align: center;
    width: 200px;
    height: 43px;
    background: linear-gradient(45deg, #f77019, #ef4642);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    transition: 0.3s;
} 
.AboutUsButton:hover {
    background-color: #f8510a;
    transform: scale(1.0);

}
#info{
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: #ffe0d2;
    
 }   
.team-container{
    background-color: #fff;
    margin: 0px 90px 30px 90px;
    width: 85;
    border-radius: 15px;
    gap: 5px;
    padding: 10px;
    
    
}
.team-container a{
    text-decoration: none;
    color: #fff;
    background-color: #f77019;
    border-radius: 15px;
    padding: 5px 15px;
}
.teams{
    border-style: none;
    gap: 10px;

}






/* This is the part that makes the web responsive for different devices */
@media (max-width: 850px) {
.recipe-container {
    flex-direction:  column;
    align-items: center;
    margin: 5px 30px 5px 30px;
    height: 100%;
}
.recipe-imag{
    width: 100%;
    border-radius: 15px;
}
.recipe-info{
    width: 100%;
    }
.team-container{
    display: flex;
    flex-direction: column;
    
        
   }
.box {
 height: auto;
 max-width: 550px;
 overflow: hidden;
}

.inner-box {
 position: static;
 transform: none;
 width: revert;
 height: revert;
 padding: 2rem;
}

.forms-wrap {
 position: revert;
 width: 100%;
 height: auto;
}

form {
 max-width: revert;
 padding: 1.5rem 2.5rem 2rem;
 transition: transform 0.8s ease-in-out, opacity 0.45s linear;
}

.heading {
 margin: 2rem 0;
}

form.sign-up-form {
 transform: translateX(100%);
}

.auth-container.sign-up-mode form.sign-in-form {
 transform: translateX(-100%);
}

.auth-container.sign-up-mode form.sign-up-form {
 transform: translateX(0%);
}

.carousel {
 position: revert;
 height: auto;
 width: 100%;
 padding: 3rem 2rem;
 display: flex;
}

.images-wrapper {
 display: none;
}

.text-slider {
 width: 100%;
}
#savedRecipes{
    width: 80%;
    /* padding: ; */
    margin: 30px;
    display: flex;
    flex-direction: column;
}
}

@media (max-width: 530px) {
.auth-container {
 padding: 1rem;
}

.box {
 border-radius: 2rem;
}

.inner-box {
 padding: 1rem;
}

.carousel {
 padding: 1.5rem 1rem;
 border-radius: 1.6rem;
}

.text-wrap {
 margin-bottom: 1rem;
}

.text-group h2 {
 font-size: 1.2rem;
}

form {
 padding: 1rem 2rem 1.5rem;
}
}


